<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.address%></p>

<% @restaurant.reviews.each do |review| %>
  <h2> <%= review.content%></h2>
  <h2><%= review.rating %></h2>
<% end %>

<%= link_to "go back", restaurants_path%>
<%= link_to "add review", new_restaurant_review_path(@restaurant)%>
